<%- include('header') %>

<%- include('userModal') %>

<%- include('nav') %>


<div class="container-fluid">
    <div class="row justify-content-center chat-container" >


        <div class="col-md-4 col-xl-3 chat flex align-items-center" style="height: 85%">
            <div class="card mb-sm-3 mb-md-0 contacts_card" style="max-height: 100%; height: initial">
                <div class="card-header">
                    <span class="online">
                        Online Users
                    </span>
                </div>
                <div class="card-body contacts_body">
                    <ui class="contacts">

                    </ui>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>

        <!--=============================================== SUPER CHATROOM ==========================================-->
        <!--=============================================== SUPER CHATROOM ==========================================-->
        <!--=============================================== SUPER CHATROOM ==========================================-->

        <div class="col-md-8 col-xl-6 chat" style="height: 85%">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="user_info">
                            <span>Super Chat</span>
                        </div>
                    </div>
                </div>
                <div class="card-body msg_card_body">





                </div>
                <div id="is-typing" class="pl-4 text-white-50">
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <textarea id="message" class="form-control type_msg"
                                  placeholder="Type your message..."></textarea>
                        <div class="input-group-append" id="send-message">
                            <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('./footer'); %>
<!-- custom -->
<script src="soiof.js"></script>
<script src="app.js"></script>
</body>
</html>

